<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main>
                <div class="error-container">
                    <h1><%= status %></h1>
                    <h2><%= message %></h2>
                    <p><%= notice %></p>
                    <a href="/">Return to Homepage</a>
                </div>
            </main>
    </body>

</html>