<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main>
                <div class="notice">
                    <% if (locals.currentUser && !currentUser.membership_status) { %>
                        <p>
                            <a href="/user/membership">Become a member</a> to create posts.</a>
                        </p>
                        <% } else if (locals.currentUser && currentUser.membership_status) { %>
                            <p>Welcome back member</p>
                            <p><a href="/message/new">Create a new message</a></p>
                            <% } else { %>
                                <p>
                                    <a href="/user/login">Log in</a> or <a href="/user/sign-up">Sign up</a> to view
                                    authors and
                                    timestamps of
                                    posts.
                                </p>
                                <% }%>

                </div>
                <div class="posts-container">
                    <% if (locals.currentUser && currentUser.membership_status) { %>
                        <% posts.map( (post)=> { %>
                            <div>
                                <p>
                                    <%= post.first_name + post.last_name %>
                                </p>
                                <p>@<%= post.username %>
                                </p>
                                <p>
                                    <%= post.create_at %>
                                </p>
                                <h6>
                                    <%= post.title %>
                                </h6>
                                <p>
                                    <%= post.content %>
                                </p>

                            </div><br>
                            <% }) %>
                                <% } else { %>
                                    <% posts.map( (post)=> { %>
                                        <div>
                                            <p>
                                                ********
                                            </p>
                                            <p>@*****
                                            </p>
                                            <p>
                                                <%= post.create_at %>
                                            </p>
                                            <h6>
                                                <%= post.title %>
                                            </h6>
                                            <p>
                                                <%= post.content %>
                                            </p>

                                        </div><br>
                                        <% }) %>
                                            <% } %>
            </main>
    </body>

</html>