<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main>
                <div class="profile-container">
                    <h1>Perfil:</h1>
                    <div class="message-card">
                        <p>Nome: <span class="full-name">
                                <%= currentUser.first_name %>
                            </span>
                        </p>
                        <p>Sobrenome: <span class="full-name">
                                <%= currentUser.last_name %>
                            </span>
                        </p>
                        <p>Usuário: <span class="full-name">@<%= currentUser.username %></span>
                        </p>
                        <p>Criado em: <span class="full-name">
                                <%= currentUser.create_at %>
                            </span>
                        </p>
                        <p>É membro: <span class="full-name">
                                <%= currentUser.membership_status %>
                            </span>
                        </p>
                        <p>É administrador: <span class="full-name">
                                <%= currentUser.isAdmin %>
                            </span>
                        </p>
                    </div>

                    <div>
                        <h1>Postagens:</h1>
                        <% if (locals.posts) { %>
                            <% posts.map( (post)=> { %>
                                <div class="message-card">
                                    <div class="message-header">
                                        <div class="user-info">
                                            <span class="dot">•</span>
                                            <span class="created-at">
                                                <%= post.create_at %>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="message-body">
                                        <h3 class="title">
                                            <%= post.title %>
                                        </h3>
                                        <p class="content">
                                            <%= post.content %>
                                        </p>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
                </div>

            </main>
    </body>

</html>